<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @content.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @content.slave %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @content.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @content.image_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @content.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @content.sort %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
